In [1]:
from pandas.io.json import json_normalize
import pandas as pd
import ijson

In [2]:
# If json is not nested, this can be done with pandas.read_json
names= pd.read_json('example.json', orient='columns')

In [3]:
names

                                             results
0  {'FirstName': 'John', 'LastName': 'Mark', 'Mid...
1  {'FirstName': 'John2', 'LastName': 'Mark', 'Mi...

In [4]:
data = pd.read_json(names['results'].to_json(), orient='index')

In [5]:
data

  FirstName LastName MiddleName  password    username
0      John     Mark      Lewis      2910  johnlewis2
1     John2     Mark      Lewis      2910  johnlewis2

In [6]:
#if we have more nested json it is not trivial with readjson. Instead we can stream with ijson
names2= pd.read_json('nested_example.json', orient='columns')

In [7]:
names2

                                                      data  meta
page                                                   NaN   1.0
results  [{'FirstName': 'John', 'LastName': 'Mark', 'Mi...   NaN

In [8]:

# see https://www.dataquest.io/blog/python-json-tutorial/ for more information
filename = "nested_example.json"
with open(filename, 'r') as f:
    objects = ijson.items(f, 'data.results.item')
    columns = list(objects)

In [9]:
columns[0]

{'FirstName': 'John',
 'LastName': 'Mark',
 'MiddleName': 'Lewis',
 'password': '2910',
 'username': 'johnlewis2'}

In [10]:
interesting_cols = ["FirstName", "username"]

In [11]:
data = []
with open(filename, 'r') as f:
    objects = ijson.items(f, 'data.results.item')
    for row in objects:
        selected_row = []
        for item in interesting_cols:
            selected_row.append(row[item])
        data.append(selected_row)

In [12]:
data

[['John', 'johnlewis2'], ['John2', 'johnlewis2']]

In [13]:
df = pd.DataFrame(data, columns=interesting_cols)

In [14]:
df

  FirstName    username
0      John  johnlewis2
1     John2  johnlewis2